<div class="card black darken-1">
    <div class="card-content">
        <a href="/post/{{id}}">{{song_title}}</a>
        <span>({{song_artist}})</span>
        <p>Rating: ({{rating}})</p>
        <p>Review: ({{review}}) </p>
        by {{user.username}} on
        {{format_date created_at}}
        {{upvotesCount}} upvote(s) | {{downvotesCount}} downvote(s) |
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
    </div>
</div>