<div class="card">
    <div class="card-header">
        <h4><a class="link" href="/post/{{id}}">{{song_title}}</a></h4>
        <h5>{{artist}}</h5>
        <p>Posted by {{user.username}} on {{format_date created_at}}</p>
    </div>
    <div class="card-body">
        <p>{{review}}</p>
        <p><a>{{comments.length}}</a></p>
        <p><a>Like</a></p>
        <p><a>Dislike</a></p>
    </div>

</div>