<div class="card black darken-1">
    <div class="card-content">
        <div class="line">
            <span class="card-title"><a href="/post/{{id}}">{{song_title}}</a></span>
            <div class="rate">
                <span>
                    [{{song_artist}}]
                </span>
                <p>Rating: ({{rating}})</p>
            </div>
        </div>
        <div>
            <p>Review: {{review}} </p>
            by {{user.username}} on
            {{format_date created_at}}
        </div>
        <br>
        <div class="rate">
            <a href="/post/{{id}}">{{comments.length}} comments</a>
            <div>{{upvotesCount}} <i class="material-icons">thumb_up</i></br>{{downvotesCount}}<i class="material-icons">thumb_down</i></div>
        </div>
    </div>
</div>