{{!-- <section>
    <div>
        <ol class="post-list">
            {{#each posts}}
            <li>
                <article class="post">
                    <div class="title">
                        <a href="{{song_title}}" target="_blank">{{song_title}</a>
                        <p> Song artist: {{song_artist}}</p>
                        <p><a href="{{song_url}}" target="_blank">click here to checkout the song!</a></p>
                        <p>Rating: {{rating}}</p>
                        <p>Review: {{review}} </p>
                        by {{user.username}} on
                        {{created_at}}
                    </div>
                    <div class="meta">
                        {{upvotesCount}} upvote(s) | {{downvotesCount}} downvote(s) |
                        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
                    </div>
                </article>
            </li>
            {{/each}}
        </ol>
    </div>
</section> --}}