<section>
  <h1>Your Activity logs</h1>
  {{#each posts}}
  <div class="card black darken-1">
    <div class="card-content border-line">
      <div class="line">
        <a href="/post/{{id}}">{{song_title}}</a>
        <span class="artist">[{{song_artist}}]</span>
        <div class="rate">
          <p><a href="{{song_url}}" target="_blank">click here to checkout the song!</a></p>
          <p>Rating: {{rating}}</p>
        </div>
      </div>
      <br>
      <div>
        <p>Review: {{review}} </p>
        by {{user.username}} on
        {{format_date created_at}}
      </div>
      <div class="rate">
        <a href="/post/{{id}}">{{comments.length}} comments</a>
        {{upvotesCount}} Upvotes | {{downvotesCount}} Downvotes
      </div>
    </div>
  </div>
  {{/each}}
</section>