<article>
  <div class="card black darken-1">
    <div class="card-content border-line">
      <h1>
        Edit Post
      </h1>
      <form class="edit-post-form">
        <div>
          <label for="post-title">Song title</label>
          <input name="post-title" type="text" class="text-color" value="{{post.song_title}}" />

          {{post.song_artist}}

          <label for="review">Review (160 characters)</label>
          <input type="text" id="review" name="review" class="text-color" value="{{post.review}}" />

        </div>
        <h4>Rate your song!</h4>

        <div class="ratingValue" name="ratingValue">
          <label>
            <input name="rating" type="radio" value="1" />
            <span>1</span>
          </label>

          <label>
            <input name="rating" type="radio" value="2" />
            <span>2</span>
          </label>

          <label>
            <input name="rating" type="radio" value="3" />
            <span>3</span>
          </label>

          <label>
            <input name="rating" type="radio" value="4" />
            <span>4</span>
          </label>

          <label>
            <input name="rating" type="radio" value="5" />
            <span>5</span>
          </label>
        </div>
        Changed by you on {{format_date post.created_at}}
        <div class="rate">
          <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
          <div>{{post.upvotesCount}}<i class="material-icons">thumb_up</i></br>{{post.downvotesCount}}<i
              class="material-icons">thumb_down</i></div>
        </div>
        <button type="submit">Save post</button>
        <button type="button" class="delete-post-btn">Delete post</button>
    </div>
  </div>
  </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>