<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.song_title}}" />

      {{post.song_artist}}

      <label for="review">Review (160 characters)</label>
      <input type="text" id="review" name="review" value="{{post.song_title}}"/>

       </div>
      <h3>Rate your song!</h3>

       <div class="ratingValue" name="ratingValue">
        <label>
          <input name="rating" type="radio" value="1" />
          <span>1</span>
        </label>

       <label>
          <input name="rating" type="radio" value="2" />
          <span>2</span>
        </label>

         <label>
          <input name="rating" type="radio" value="3" />
          <span>3</span>
        </label>

         <label>
          <input name="rating" type="radio" value="4" />
          <span>4</span>
        </label>

         <label>
          <input name="rating" type="radio" value="5" />
          <span>5</span>
        </label>
    </div>
    </div>
    <div>
      {{post.upvotesCount}} {{format_plural "upvote" post.upvotesCount}}
      {{post.downvotesCount}} {{format_plural "downvote" post.downvotesCount}}
      by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>