<ol class="post-list">
    <li>
        <article class="post">
            <div class="songName">
                <div>Song Name: {{songName}}</div>
                <div>Artist: {{artist}}</div>
            </div>
            <div>
                <div>
                    <a href="/post/{{id}}">{{reviews.length}} review(s)</a>
                </div>
                <div>
                    <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
                </div>
                <div>
                    {{created_at}} by {{user.username}}
                </div>
                <div>
                    {{likes}} likes
                </div>
                <div>
                    {{dislikes}} dislikes
                </div>
            </div>
        </article>
    </li>
</ol>