<ol class="post-list">
    <li>
        <article class="post">
            <div class="songName">
                <div>Song Name: {{song_title}}</div>
                <div>Artist: {{song_artist}}</div>
            </div>
            <div>
                <div>
                    {{user.username}} on
                    {{created_at}}
                </div>
                <div>
                    <a href="/post/{{id}}">{{reviews.length}} review(s)</a>
                </div>
                <div>
                    {{likes}} likes
                </div>
                <div>
                    {{dislikes}} dislikes
                </div>
            </div>
        </article>
    </li>
</ol>