<section>

  <div class="card black darken-1">
    <div class="card-content border-line">
      <article class="post">
        <div>
          <div class="line">
            <div class="title">
              <a href="/post/{{post.id}}">{{post.song_title}} </a>
              <div class="rate">
                <span>{{post.song_artist}}</span>
                <p>Rating: {{post.rating}}</p>
              </div>
            </div>
            <p><a href="{{song_url}}" target="_blank">click here to checkout the song!</a></p>
          </div>
          <p>Review: {{post.review}} </p>
          by
          {{post.user.username}}  
          on
          {{format_date post.created_at}}
        </div>
        <div class="rate">
          <a href="/post/{{post.id}}">{{post.comments.length}} comments</a>
          {{post.upvotesCount}}
          upvotes |
          {{post.downvotesCount}}
          downvotes

        </div>

        <br>
        {{#if loggedIn}}
        <form class="comment-form">
          <div>
            <textarea name="comment-body"></textarea>
          </div>
          <div>
            <button type="submit">add comment</button>
            <button type="button" class="upvote-btn">upvote</button>
            <button type="button" class="downvote-btn">downvote</button>
          </div>
        </form>
        {{/if}}
    </div>
  </div>
</section>

<section>
  <h4>Comments</h4>
  <div class="comments">
    {{#each post.comments}}
    <section class="comment">
      <div class="card black darken-1">
        <div class="card-content border-line">
          <div class="meta">
            {{user.username}}
          </div>
          <div class="text">
            {{comment_text}}
          </div>
        </div>
      </div>
    </section>
    {{/each}}
  </div>
</section>


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
<script src="/javascript/downvote.js"></script>
{{/if}}